<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
   id="cordova-plugin-volumen"
   version="0.1.0">
    <name>System Volume</name>

    <js-module src="www/systemvolume.js" name="SystemVolume">
        <clobbers target="sistema" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SystemVolume">
                <param name="android-package" value="com.paredesivan.volumen.SystemVolume"/>
            </feature>
        </config-file>

        <source-file src="src/android/SystemVolume.java" target-dir="src/com/paredesivan/volumen/" />


        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
       </config-file>
        
    </platform>          
    
    <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="android.permission.VIBRATE"/>
    </config-file>
</plugin>